* {
  margin: 0;
}
h1 {
  padding: 20px;
  
}

body {
  background: linear-gradient(to right, #4b6cb7, #182848);
  font-family: "Staatliches", cursive;
}
header {
  background-color: #ebebeb;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
}

.hoveddel {
  color: white;
}
.tabell {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.tabell li {
  list-style: none;
}
.tabell a{
  text-decoration: none;
  color: #303030;
  padding: 20px;
}
.tabell a:hover{
  border-bottom: solid 2px #303030;
}
.box {
  padding: 30px;
  background: linear-gradient(to right, #e0e0e0, #fcfcfc);
  color: black;
  margin: auto;
  text-align: center;
  width: 60%;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 3px 5px #c2c2c2;
}
.person-image {
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}
.person {
  display: flex;
}
.person.person-right {
  justify-content: flex-end;
  text-align: right !important;
}
.person-text {
  padding-top: 40px;
  padding-left: 15px;
  text-align: left;
  max-width: 200px;
}
footer{
  height: 15vh;
  background: linear-gradient(to right, #e0e0e0, #fcfcfc);
  margin-top: 4vh;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  line-height: 15vh;
  display: flex;
  justify-content: center;
}
#form p{
  font-size: 20px;
}
input{
  width: 50%;
  height: 5vh;
  margin-top: 2vh;
  text-align: center;
}
select{
  width: 50%;
  height: 5vh;
  text-align: center;
  display: flex;
  justify-content: center;
}
option{
  text-align: center;
}


@media screen and (max-width: 666px) {
  .box {
    width: 80%;
  }
}
